language: generic
sudo: false

branches:
  only:
    - master
    - codegen
env:
  - EVM_EMACS=emacs-24.4-travis
  - EVM_EMACS=emacs-24.5-travis
  - EVM_EMACS=emacs-25.1-travis
  - EVM_EMACS=emacs-25.2-travis
  - EVM_EMACS=emacs-25.3-travis
  - EVM_EMACS=emacs-26.1-travis
  - EVM_EMACS=emacs-git-snapshot-travis

matrix:
  allow_failtures:
    env:
      - EVM_EMACS=emacs-git-snapshot-travis

before_install:
 - curl -fsSkL https://gist.github.com/rejeep/ebcd57c3af83b049833b/raw > x.sh && source ./x.sh
 - evm install $EVM_EMACS --use --skip

install:
  - cask install

script:
  - cask emacs --batch -l ert -l spaceline.el -l tests.el -f ert-run-tests-batch-and-exit
